<a href="https://colab.research.google.com/github/Manavgupta1612/EDA/blob/main/DA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [5]:
#importing dataset
data = pd.read_csv("https://raw.githubusercontent.com/salemprakash/EDA/main/Data/NaturalGas.csv")
data

,rownames,state,statecode,year,consumption,price,eprice,oprice,lprice,heating,income
0,1,NY,35,1967,313656,1.42,2.98,7.40,1.47,6262,10903.75
1,2,NY,35,1968,319282,1.38,2.91,7.77,1.42,6125,11370.02
2,3,NY,35,1969,331326,1.37,2.84,7.96,1.38,6040,11578.68
3,4,NY,35,1970,346533,1.40,2.87,8.33,1.37,6085,11586.77
4,5,NY,35,1971,352085,1.50,3.07,8.80,1.40,5907,11657.42
...,...,...,...,...,...,...,...,...,...,...,...
133,134,CA,5,1985,527495,5.72,7.78,30.58,5.84,2694,14368.46
134,135,CA,5,1986,464307,5.14,7.95,44.15,5.72,2192,14580.77
135,136,CA,5,1987,503473,5.26,8.03,35.24,5.14,2502,14915.05
136,137,CA,5,1988,497138,5.64,8.69,34.02,5.26,2366,15340.38
137,138,CA,5,1989,514276,5.59,9.45,44.44,5.64,2420,15532.93

In [7]:
#first 10 in the dataset
data.head(10)

,rownames,state,statecode,year,consumption,price,eprice,oprice,lprice,heating,income
0,1,NY,35,1967,313656,1.42,2.98,7.40,1.47,6262,10903.75
1,2,NY,35,1968,319282,1.38,2.91,7.77,1.42,6125,11370.02
2,3,NY,35,1969,331326,1.37,2.84,7.96,1.38,6040,11578.68
3,4,NY,35,1970,346533,1.40,2.87,8.33,1.37,6085,11586.77
4,5,NY,35,1971,352085,1.50,3.07,8.80,1.40,5907,11657.42
5,6,NY,35,1972,363412,1.62,3.26,8.85,1.50,6248,11860.80
6,7,NY,35,1973,342608,1.74,3.51,10.08,1.62,5450,11943.15
7,8,NY,35,1974,341032,2.00,4.66,15.49,1.74,5858,11951.04
8,9,NY,35,1975,327384,2.54,5.13,16.37,2.00,5583,11653.49
9,10,NY,35,1976,339949,2.87,5.37,17.30,2.54,6238,11689.96

In [8]:
#last 10 in the dataset
data.tail(10)

,rownames,state,statecode,year,consumption,price,eprice,oprice,lprice,heating,income
128,129,CA,5,1980,529342,3.51,5.61,40.31,2.47,2308,13491.37
129,130,CA,5,1981,488353,3.74,6.15,46.02,3.51,2224,13593.27
130,131,CA,5,1982,537194,4.43,7.19,45.73,3.74,2832,13236.20
131,132,CA,5,1983,498601,5.41,6.76,46.08,4.43,2487,13339.57
132,133,CA,5,1984,472151,5.84,7.10,44.68,5.41,2486,13953.85
133,134,CA,5,1985,527495,5.72,7.78,30.58,5.84,2694,14368.46
134,135,CA,5,1986,464307,5.14,7.95,44.15,5.72,2192,14580.77
135,136,CA,5,1987,503473,5.26,8.03,35.24,5.14,2502,14915.05
136,137,CA,5,1988,497138,5.64,8.69,34.02,5.26,2366,15340.38
137,138,CA,5,1989,514276,5.59,9.45,44.44,5.64,2420,15532.93

In [11]:
#finding count of entries in column 'state'
data['state'].value_counts()

state
NY    23
FL    23
MI    23
TX    23
UT    23
CA    23
Name: count, dtype: int64

In [12]:
#finding count of entries in column 'statecode'
data['statecode'].value_counts()

statecode
35    23
10    23
23    23
44    23
45    23
5     23
Name: count, dtype: int64

In [13]:
#using describe function for the dataset
data.describe()

,rownames,statecode,year,consumption,price,eprice,oprice,lprice,heating,income
count,138.000000,138.00000,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000
mean,69.500000,27.00000,1978.000000,252901.478261,3.422319,5.053551,24.635580,3.207681,4154.528986,11193.235652
std,39.981246,15.68811,6.657415,184478.131559,2.169215,2.577859,15.401018,2.124937,2451.998462,1906.726093
min,1.000000,5.00000,1967.000000,9430.000000,0.680000,1.980000,5.010000,0.680000,481.000000,7465.340000
25%,35.250000,10.00000,1972.000000,49103.500000,1.380000,2.432500,8.240000,1.257500,2081.500000,9637.165000
50%,69.500000,29.00000,1978.000000,300835.500000,2.775000,4.520000,19.865000,2.615000,4272.000000,11367.460000
75%,103.750000,44.00000,1984.000000,346428.750000,5.310000,7.282500,40.102500,5.192500,6498.000000,12125.335000
max,138.000000,45.00000,1989.000000,637289.000000,8.060000,10.860000,51.730000,7.870000,7440.000000,16425.330000

In [15]:
#reshaping with Hierarchical Indexing
stacking = data.stack()
stacking

0    rownames              1
     state                NY
     statecode            35
     year               1967
     consumption      313656
                      ...
137  eprice             9.45
     oprice            44.44
     lprice             5.64
     heating            2420
     income         15532.93
Length: 1518, dtype: object

In [16]:
#using the unstack function for the above stacked data
stacking.unstack()

,rownames,state,statecode,year,consumption,price,eprice,oprice,lprice,heating,income
0,1,NY,35,1967,313656,1.42,2.98,7.4,1.47,6262,10903.75
1,2,NY,35,1968,319282,1.38,2.91,7.77,1.42,6125,11370.02
2,3,NY,35,1969,331326,1.37,2.84,7.96,1.38,6040,11578.68
3,4,NY,35,1970,346533,1.4,2.87,8.33,1.37,6085,11586.77
4,5,NY,35,1971,352085,1.5,3.07,8.8,1.4,5907,11657.42
...,...,...,...,...,...,...,...,...,...,...,...
133,134,CA,5,1985,527495,5.72,7.78,30.58,5.84,2694,14368.46
134,135,CA,5,1986,464307,5.14,7.95,44.15,5.72,2192,14580.77
135,136,CA,5,1987,503473,5.26,8.03,35.24,5.14,2502,14915.05
136,137,CA,5,1988,497138,5.64,8.69,34.02,5.26,2366,15340.38
137,138,CA,5,1989,514276,5.59,9.45,44.44,5.64,2420,15532.93

In [17]:
#checking for data duplication
data.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
133    False
134    False
135    False
136    False
137    False
Length: 138, dtype: bool

In [19]:
#checking for any null values in the dataset
data.isnull()

,rownames,state,statecode,year,consumption,price,eprice,oprice,lprice,heating,income
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
133,False,False,False,False,False,False,False,False,False,False,False
134,False,False,False,False,False,False,False,False,False,False,False
135,False,False,False,False,False,False,False,False,False,False,False
136,False,False,False,False,False,False,False,False,False,False,False
137,False,False,False,False,False,False,False,False,False,False,False

In [20]:
#checking for sum of null values in each column in the dataset
data.isnull().sum()

rownames       0
state          0
statecode      0
year           0
consumption    0
price          0
eprice         0
oprice         0
lprice         0
heating        0
income         0
dtype: int64

In [21]:
#checking for total sum of null values in the dataset
data.isnull().sum().sum()

0

In [22]:
#count the number of reported values in the dataset
data.count()

rownames       138
state          138
statecode      138
year           138
consumption    138
price          138
eprice         138
oprice         138
lprice         138
heating        138
income         138
dtype: int64

In [23]:
#finding the sum of the column 'price' in the dataset
sol1 = data.price
sol1.sum()

472.28

In [24]:
#finding the mean of the column 'price' in the dataset
sol1.mean()

3.42231884057971

In [25]:
#finding the cumulative sum of the column 'price' in the dataset
sol1.cumsum()

0        1.42
1        2.80
2        4.17
3        5.57
4        7.07
        ...
133    450.65
134    455.79
135    461.05
136    466.69
137    472.28
Name: price, Length: 138, dtype: float64

In [26]:
#finding the sum of the column 'income' in the dataset
sol2 = data.income
sol2.sum()

1544666.52

In [27]:
#finding the mean of the column 'income' in the dataset
sol2.mean()

11193.235652173913

In [28]:
#finding the cumulative sum of the column 'income' in the dataset
sol2.cumsum()

0        10903.75
1        22273.77
2        33852.45
3        45439.22
4        57096.64
          ...
133    1484297.39
134    1498878.16
135    1513793.21
136    1529133.59
137    1544666.52
Name: income, Length: 138, dtype: float64

In [32]:
#finding the income that exceeds 15000
np.abs(data.income) > 15000

0      False
1      False
2      False
3      False
4      False
       ...
133    False
134    False
135    False
136     True
137     True
Name: income, Length: 138, dtype: bool